/* Reset del margine e padding di default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(200,200,200);;
    color: #333;
    line-height: 1.6;
}

a{
    
    text-decoration: none;
}

/* Navbar */
navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 60, 0);
}

navbar a {
    color: white;
    margin: 0 5px;
    font-size: 1.2em;
    transition: color 0.3s;
    height: 100%;
    padding: 10px;
}

navbar a:hover {
    color: #18bc9c;
}

/* Main content */
main {
    text-align: center;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Stili per i titoli */
h1 {
    font-size: 2em;
    color: #34495e;
    margin-bottom: 15px;
}

/* Paragrafi */
p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Lista non ordinata */
lu {
    list-style-type: none;
}

lu li {
    margin-left: 20px;
    padding-left: 10px;
    position: relative;
}

lu li:before {
    position: absolute;
    left: 0;
    color: #18bc9c;
}

/* Responsività */
@media (max-width: 768px) {
    navbar {
        flex-direction: column;
        align-items: center;
    }

    navbar a {
        margin: 10px 0;
        font-size: 1.1em;
    }

    main {
        padding: 15px;
    }

    h1 {
        font-size: 1.7em;
    }

    p {
        font-size: 1em;
    }
}

#current{
    background-color:  rgb(255, 110, 70);
    border-radius: 0 0 20% 20%;
}

#eng-map{
    width: 500px;
}

#link-pages{
    text-align: left;
}
